/* Fonts */
@font-face {
    font-family: 'Bauer Bodoni';
    src: url('fonts/BauerBodoniStd-Roman.eot');
    src: url('fonts/BauerBodoniStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/BauerBodoniStd-Roman.woff2') format('woff2'),
         url('fonts/BauerBodoniStd-Roman.woff') format('woff'),
         url('fonts/BauerBodoniStd-Roman.svg#BauerBodoniStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mrs Eaves Italic';
    src: url('fonts/MrsEavesItalic.eot');
    src: url('fonts/MrsEavesItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/MrsEavesItalic.woff2') format('woff2'),
         url('fonts/MrsEavesItalic.woff') format('woff'),
         url('fonts/MrsEavesItalic.svg#MrsEavesItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Old Script';
    src: url('fonts/OldScrip.eot');
    src: url('fonts/OldScrip.eot?#iefix') format('embedded-opentype'),
         url('fonts/OldScrip.woff2') format('woff2'),
         url('fonts/OldScrip.woff') format('woff'),
         url('fonts/OldScrip.svg#OldScrip') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Title */
.title-slide {
  font-family: "Bauer Bodoni";
  font-size: 50px;
  letter-spacing: 5px;
  color: black;
  background-image: url(img/background-wedding2.png);
  background-size: cover;
}

/* Subtitle */
#rencontres-r-2021-agroparistech {
  font-family: "Mrs Eaves Italic";
  font-size: 20px;
  color: black;
}
#rencontres-r-2021-agroparistech::before { /* to set space before */
  content: ' ';
  display: block;
  height: 40px;
}

/* Author */
#margot-brard {
  font-family: "Mrs Eaves Italic";
  font-size: 25px;
  color: black;
}
#margot-brard::before { /* to set space before */
  content: ' ';
  display: block;
  height: 40px;
}

/* Company */
#thinkr {
  font-family: "Mrs Eaves Italic";
  font-size: 20px;
  color: black;
}

/* Date */ 
#\31 2-juillet-2021 {
  font-family: "Old Script";
  font-size: 25px;
}
#\31 2-juillet-2021::before { /* to set space before */
  content: ' ';
  display: block;
  height: 40px;
}

/* H1 */ 
.remark-slide-content h1 {
    font-family: "Bauer Bodoni";
    font-size: 40px;
    letter-spacing: 5px;
}

/* H2 */ 
.remark-slide-content h2 {
    color: black;
    font-family: "Old Script";
    font-weight: 100;
}

/* H3 */ 
.remark-slide-content h3 {
    color: black;
    font-size: 30px;
    font-family: "Mrs Eaves Italic";
    font-weight: 100;
}

/* Body */ 
.remark-slide-content {
    font-family: "Mrs Eaves Italic";
}

/* Slides numbers */ 
.remark-slide-number {
    font-size: 20px;
    letter-spacing: 0px;
}

/* 2 columns layout */ 
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}

/* Quotes */ 
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* Links */ 
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  transition-property: background, color;
  transition-duration: 1s;
}

a:link {
  color: rgb(85, 93, 60);
}

a:visited {
  color: rgb(85, 93, 60);
}

a:focus {
  outline: none;
  color: rgb(85, 93, 60);
  text-decoration: none;
}

a:hover {
  outline: none;
  color: var(--cerulean);
  text-decoration: none;
}

/* Code */ 
.hljs-github .hljs-string{ /* string */
    color: rgb(157, 77, 123);
}

.hljs-github .hljs-number{ /* number */
    color: rgb(85, 93, 60);
}

.hljs-github .hljs-attribute{ 
    color: rgb(85, 93, 60);
}

.hljs-github .hljs-built_in{
    color: rgb(85, 93, 60);
}

/* Code in text */ 
.remark-inline-code{
    font-size: 18px;
}

/* Bullet points */ 
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}